<div class="container">
  <div class="container text-center">
    <div class="row">
      <as-new-card class="col-3"></as-new-card>
      <as-card
        *ngFor="
          let card of cards
            | sortBy : sortParams?.orderBy : sortParams?.category
            | filterBy : filterParams?.surname : filterParams?.phoneNumber : filterParams?.ssn : filterParams?.date;
          index as i
        "
        [card]="card"
        [index]="i"
        class="col-3"
      ></as-card>
    </div>
  </div>
</div>
