<div class="container">
  <p>sort by:</p>

  <button
    *ngFor="let category of categories"
    class="btn"
    [ngClass]="category.category === sortParams?.category ? 'btn-secondary' : 'btn-primary]'"
    type="button"
    (click)="category.func()"
  >
    {{ category.category }}
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
      <path
        *ngIf="sortParams?.orderBy === 'desc'"
        fill-rule="evenodd"
        d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z"
      />
      <path
        *ngIf="sortParams?.orderBy === 'asc'"
        fill-rule="evenodd"
        d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"
      />
    </svg>
  </button>
</div>
